:root {
    --rz-color-primary: #FF6F61;
    --rz-color-lighter: #ffffff;
    --rz-color-dark: #111111;
    --rz-color-darker: #1f1f1f;
    --rz-color-placeholder: #A0A0A0;
    --rz-color-hover-primary: #FF6F61;
    --rz-background-color-primary: #FF6F61;
    --rz-background-color-light: #ffffff;
    --rz-background-color-gray: #f5f5f5;
    --rz-background-color-dark: #1F1F1F;
    --rz-background-text-color-primary: #ffffff;
    --rz-border-color: #cccccc;
    --rz-border-color-primary: #FF6F61;
    --rz-border-color-light: #e2e2e2;
    --rz-border-color-lighter: #ffffff;
    --rz-border-color-gray: #cdcdcd;
    --rz-border-color-dark: #1f1f1f;
    --rz-text-color-gray: #767676;
    --rz-text-color: #525252;
    --rz-font-family-primary: 'Jost', Arial, sans-serif;
    --rz-font-family-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    --rz-font-family-pre: "Courier 10 Pitch", Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}

a {
    text-decoration: none;
}


ul {

    list-style: none;
}

body {
    font-family: var(--rz-font-family-primary);


}
@import url("https://fonts.googleapis.com/css2?family=Battambang&display=swap");

svg {
	font-family: "Battambang", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 8s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 60px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #FFFFFF};

header {

    height: 50px;
    width: 100vw;
    border-bottom: 2px solid coral;
    text-align: center;

}
/* 
header h2 {
    padding-top: 10px;
    font-size: 30px;
} */

.admin-content {
    padding-top: 50px;
    display: flex;
}

.admin-content-left {
    background-color: aliceblue;
    width: 25%;
    height: 100vh;
    padding: 30px 0 0 12px;

}

.admin-content-left>a {
    font-weight: bold;
    font-size: 23px;
    margin-top: 6px;
}

.admin-content-left>a:hover {
    color: coral;
}

.admin-content-left>ul>li>a {
    font-weight: bold;
    font-size: 24px;
}

.admin-content-left>ul>li>a:hover {
    color: coral;
}

.admin-content-left ul li {
    margin: 6px 0;

}

.admin-content-left ul ul {
    margin-left: 20px;
    font-size: 20px;

}

.admin-content-right {
    width: 75%;
    padding: 30px 0 0 12px;
    display: block;
}

.admin-content-right-cartegory_add input {
    height: 40px;
    width: 300px;
    padding-left: 12px;
    margin-top: 20px;
    border: 1px solid gray;

}

.admin-content-right-cartegory_add button {
    display: block;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
    background-color: coral;
    border: none;
    color: white;
    transform: all 0, 3 ease;
}

.admin-content-right-cartegory_add button:hover {
    background-color: transparent;
    border: 1px solid coral;
    color: coral;
}

/* -------------Cartgory list--------- */
.admin-content-right-cartegory-list table {
    width: 99%;
    text-align: center;

    margin-top: 20px;
}

.admin-content-right-cartegory-list table tr th,
td {
    border: 1px solid gray;
}

.admin-content-right-cartegory-list table tr th {
    font-weight: 100;
}

table {
    border-collapse: collapse;
}

.boild {
    font-weight: bold;
}